<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="team.diamond.kaizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaizer"
        tools:targetApi="31">
        <activity
            android:name=".Help_standart"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startTest.startTest"
            android:exported="false" />
        <activity
            android:name=".startTest.startTestver2"
            android:exported="false" />
        <activity
            android:name=".kaizerActivity"
            android:exported="true" />
        <activity
            android:name=".startTest.LoadingQuest"
            android:exported="true" />
        <activity
            android:name=".startTest.LoadingQuestver2"
            android:exported="true" />
        <activity
            android:name=".otvetTest.otvetTestBasic"
            android:exported="true" />
        <activity
            android:name=".profileId"
            android:exported="false" />
        <activity
            android:name=".foto.FotoPublic"
            android:exported="false" />
        <activity
            android:name=".foto2.NewActivity"
            android:exported="false" />
        <activity
            android:name=".foto.NewActivity2"
            android:exported="false" />
        <activity
            android:name=".avatarka.AvatarkaEdit"
            android:exported="false" />
        <activity
            android:name=".addStories"
            android:exported="false" />
        <activity
            android:name=".otvetTest.youOtvetTest"
            android:exported="false" />
        <activity
            android:name=".storiesFullShema.readStories"
            android:exported="false" />
        <activity
            android:name=".job.job"
            android:exported="false" />
        <activity
            android:name=".job.jobAdd"
            android:exported="false" />
        <activity
            android:name=".allusers.AllUsers"
            android:exported="false" />
        <activity
            android:name=".profile.profileBalance"
            android:exported="false" />
        <activity
            android:name=".startTest.AllTests"
            android:exported="false" />
        <activity
            android:name=".creatTest.creatTest"
            android:exported="false" />


        <activity
            android:name=".foto2.foto_paid2"
            android:exported="false" />
        <activity
            android:name=".foto1.foto_free"
            android:exported="false" />
        <activity
            android:name=".foto1.NewActivityFree"
            android:exported="false" />
        <activity
            android:name=".storyCustom.storyCustom"
            android:exported="false" />


    </application>

</manifest>