<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="team.diamond.kaizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kaizer"
        tools:targetApi="31">
        <activity
            android:name=".Help_standart"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".startTest"
            android:exported="false" />
        <activity
            android:name=".kaizerActivity"
            android:exported="true" />
        <activity
            android:name=".LoadingQuest"
            android:exported="true" />
        <activity
            android:name=".profileId"
            android:exported="false" />
        <activity
            android:name=".FotoPublic"
            android:exported="false" />
        <activity
            android:name=".NewActivity"
            android:exported="false" />
        <activity
            android:name=".NewActivity2"
            android:exported="false" />
        <activity
            android:name=".AvatarkaEdit"
            android:exported="false" />
        <activity
            android:name=".addStories"
            android:exported="false" />
        <activity
            android:name=".youOtvetTest"
            android:exported="false" />
        <activity
            android:name=".readStories"
            android:exported="false" />
        <activity
            android:name=".job"
            android:exported="false" />
        <activity
            android:name=".jobAdd"
            android:exported="false" />
        <activity
            android:name=".AllUsers"
            android:exported="false" />
        <activity
            android:name=".profileBalance"
            android:exported="false" />
        <activity
            android:name=".AllTests"
            android:exported="false" />


        <activity
            android:name=".foto_paid2"
            android:exported="false" />
        <activity
            android:name=".foto_free"
            android:exported="false" />
        <activity
            android:name=".MemoryData$NewActivityFree"
            android:exported="false" />
        <activity
            android:name=".storyCustom"
            android:exported="false" />


    </application>

</manifest>